
<html lang="en">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Community name</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="http://getbootstrap.com/favicon.ico">
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="./css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="./css/accounts.css" rel="stylesheet">
		<link href="./css/theme.css" rel="stylesheet">
		<script src="./js/ie-emulation-modes-warning.js"></script>
		<script src="./js/account.js"></script>
		<script src="./js/account-1.js"></script>
		
		<style type="text/css">
			.navbar-nav.navbar-right:last-child {
				margin-right: 15px !important;
			}
			.navbar-content {
				width:320px;
				padding: 15px;
				padding-bottom:0px;
			}
			.navbar-content:before, .navbar-content:after{
				display: table;
				content: "";
				line-height: 0;
			}
			.dropdown-menu {
				padding: 0px;
				overflow: hidden;
			}
			.navbar-footer-content { 
				padding:15px 15px 15px 15px; 
			}
			.row{
				padding-left: 5%;
			}
			.page-header{
				padding-left: 43%
			}

			body {
				background-image:url(./css/images/4.jpg);
				background-repeat:no-repeat;
				background-size:cover;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand">Zeenat</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="mynetwork-1313.appsport.com">My Neighbours</a></li>
						<li><a href="http://getbootstrap.com/examples/theme/#about">My Payments</a></li>
						<li><a href="http://getbootstrap.com/examples/theme/#contact">My Dues</a></li>
						<li class="dropdown"><a href="http://getbootstrap.com/examples/theme/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="http://getbootstrap.com/examples/theme/#">Action</a></li>
								<li><a href="http://getbootstrap.com/examples/theme/#">Another action</a></li>
								<li><a href="http://getbootstrap.com/examples/theme/#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="http://getbootstrap.com/examples/theme/#">Separated link</a></li>
								<li><a href="http://getbootstrap.com/examples/theme/#">One more separated link</a></li>
							</ul>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account
							<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<div class="navbar-content">
										<div class="row">
											<div class="col-md-7">
												<span>Bhaumik Patel</span>
												<p class="text-muted small">
														mail@gmail.com</p>
												<div class="divider">
												</div>
											</div>
										</div>
									</div>
									<div class="navbar-footer">
										<div class="navbar-footer-content">
											<div class="row">
												<div class="col-md-6">
													<a href="#" class="btn btn-default btn-sm">Change Passowrd</a>
												</div>
												<div class="col-md-6">
													<a href="/logout" class="btn btn-default btn-sm pull-right">Sign Out</a>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>  
				</div>
			</div>
		</nav>
		<div class="page-header">
			<h1>Family Details</h1>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Owner name</h3>
					</div>
					<div class="panel-body" id ="test">
							{{houseowner}}
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Contact</h3>
					</div>
					<div class="panel-body">
						{{housecontact}}
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Total Due</h3>
					</div>
					<div class="panel-body">
							Rs:  {{totaldue}}/-
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Dues</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<table class="table">
								<thead>
									<tr>
										<td>Month</td>
										<td>Year</td>
										<td> Detail </td>
										<td>Amount</td>
										<td>Type</td>
									</tr>
								</thead>
								<tbody>
								{% for due in dues %}
									<tr>
									<td>{{due.due_month}}</td>
									<td>{{due.due_year}}</td>
									<td> {{due.due_detail}}</td>
									<td>{{due.due_amount}}</td>
									<td>{{due.due_type}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
<!-- payments -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Payments</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<table class="table">
								<thead>
									<tr>
										<td>Month</td>
										<td>Year</td>
										<td> Detail </td>
										<td>Amount</td>
										<td>Type</td>

									</tr>
								</thead>
								<tbody>
								{% for payment in payments %}
									<tr>
									<td>{{payment.payment_month}}</td>
									<td>{{payment.payment_year}}</td>
									<td>{{payment.payment_detail}}</td>
									<td>{{payment.payment_amount}}</td>
									<td>{{payment.payment_type}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>