
<html lang="en">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Community name</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="http://getbootstrap.com/favicon.ico">
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="./css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="./css/accounts.css" rel="stylesheet">
		<link href="./css/theme.css" rel="stylesheet">
		<script src="./js/ie-emulation-modes-warning.js"></script>
		<script src="./js/account.js"></script>
		<script src="./js/account-1.js"></script>
		
		<style type="text/css">
			.navbar-nav.navbar-right:last-child {
				margin-right: 15px !important;
			}
			.navbar-content {
				width:320px;
				padding: 15px;
				padding-bottom:0px;
			}
			.navbar-content:before, .navbar-content:after{
				display: table;
				content: "";
				line-height: 0;
			}
			.dropdown-menu {
				padding: 0px;
				overflow: hidden;
			}
			.navbar-footer-content { 
				padding:15px 15px 15px 15px; 
			}
			.row{
				padding-left: 5%;
			}
			.page-header{
				padding-left: 43%
			}

			body {
				background-image:url(./css/images/4.jpg);
				background-repeat:no-repeat;
				background-size:cover;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/loggeduser">Zeenat</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a onclick="myneighbours()" ">My Neighbours</a></li>
						<li><a onclick="mypayments()" ">My Payments</a></li>
						<li><a onclick="mydues()" ">My Dues</a></li>
						<li><a onclick="addmember()" ">Add Member</a></li>	
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account
							<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<div class="navbar-content">
										<div class="row">
											<div class="col-md-7">
												<span>Bhaumik Patel</span>
												<p class="text-muted small">
														mail@gmail.com</p>
												<div class="divider">
												</div>
											</div>
										</div>
									</div>
									<div class="navbar-footer">
										<div class="navbar-footer-content">
											<div class="row">
												<div class="col-md-6">
													<a onclick="editpassword()" class="btn btn-default btn-sm">Change Passowrd</a>
												</div>
												<div class="col-md-6">
													<a href="/logout" class="btn btn-default btn-sm pull-right">Sign Out</a>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>  
				</div>
			</div>
		</nav>

		<div class="page-header">
			<h1>Family Details</h1>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Owner name</h3>
					</div>
					<div class="panel-body" id ="test">
							{{houseowner}}
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Contact</h3>
					</div>
					<div class="panel-body">
						{{housecontact}}
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Total Due</h3>
					</div>
					<div class="panel-body">
							Rs:  {{totaldue}}/-
					</div>
				</div>
			</div>
	<!-- Dues -->
			<div class="col-md-6" style="display:block" id = "functioncoloumn">
				<div class="panel panel-primary"  id = "dues" style="display:none">
					<div class="panel-heading">
						<h3 class="panel-title">Dues</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<table class="table">
								<thead>
									<tr>
										<td>Month</td>
										<td>Year</td>
										<td> Detail </td>
										<td>Amount</td>
										<td>Type</td>
									</tr>
								</thead>
								<tbody>
								{% for due in dues %}
									<tr>
									<td>{{due.due_month}}</td>
									<td>{{due.due_year}}</td>
									<td> {{due.due_detail}}</td>
									<td>{{due.due_amount}}</td>
									<td>{{due.due_type}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
<!-- payments -->
				<div class="panel panel-primary" style="display:none" id = "payments">
					<div class="panel-heading">
						<h3 class="panel-title">Payments</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<table class="table">
								<thead>
									<tr>
										<td>Month</td>
										<td>Year</td>
										<td> Detail </td>
										<td>Amount</td>
										<td>Type</td>

									</tr>
								</thead>
								<tbody>
								{% for payment in payments %}
									<tr>
									<td>{{payment.payment_month}}</td>
									<td>{{payment.payment_year}}</td>
									<td>{{payment.payment_detail}}</td>
									<td>{{payment.payment_amount}}</td>
									<td>{{payment.payment_type}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

<!-- Edit password -->
				<div class="panel panel-info" id = "editpassword" style="display:none">
					<div class="panel-heading">
						<h3 class="panel-title">Edit Password</h3>
					</div>
					<div class="panel-body">
						<form action = "editpassworduser" method="post">
						Current Password
							<input type="text" name="current_password">
							<br>
							<br>
						New Password
							<input type="text" name="new_password">
							<br>
							<br>
						Re enter Password
							<input type="text" name="reenter_password">
							<br>
							<br>
							<button type="submit" class="btn btn-lg btn-success">Edit Password</button> 	
						</form>
					</div>
	            </div>

<!-- Members -->
				<div class="panel panel-primary" style="display:block" id = "members">
					<div class="panel-heading">
						<h3 class="panel-title">Members</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<table class="table">
								<thead>
									<tr>
										<td>Name</td>
										<td>DOB</td>
										<td>Gender</td>
									</tr>
								</thead>
								<tbody>
								{% for member in members %}
									<tr>
									<td>{{member.member_name}}</td>
									<td>{{member.member_DOB}}</td>
									<td>{{member.member_gender}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
<!-- Neighbours -->

				<div class="panel panel-primary" style="display:none" id = "neighbours">
					<div class="panel-heading">
						<h3 class="panel-title">Neighbours</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<table class="table">
								<thead>
			              			<tr>
			                		<th>House Number</th>
			                		<th>House Owner</th>
			                		<th>Contact</th>
			                		<th>Status</th>
			              			</tr>
		            			</thead>
		            			<tbody>
		            			{% for neighbour in neighbours %}
			              			<tr>
			                		<td>{{neighbour.house_number}}</td>
			                		<td>{{neighbour.house_owner}}</td>
			                		<td>{{neighbour.house_contact}}</td>
			            			{% if neighbour.house_status %}
			                		<td>Occupied</td>
			                		{% else %}
			                		<td>Unoccupied</td>
		                			{% endif %}
		              				</tr>
		              			{% endfor %}
		            			</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	<!-- add member -->
			<div class="col-sm-4" style="display:none"  id = "memcoloumn">
				<div class="panel panel-info" id = "addmember" style="display:none">
					<div class="panel-heading">
						<h3 class="panel-title">Add Member</h3>
					</div>
					<div class="panel-body">
						<form action = "newmember" method="post">
						Member Name
							<input type="text" name="member_name">
							<br>
							<br>
						Member DOB
							<input type="text" name="member_DOB">
							<br>
							<br>
						Member Gender
							<select name="member_gender" class="dropdown">
			  					<ul class="dropdown-menu">
			                		<option value="male">Male</option>
			                		<option value="female">Female</option>
			                		<option value="female">Others</option>
			                	</ul>
			                </select>
							<br>
							<br>
							<button type="submit" class="btn btn-lg btn-success">Add Member</button> 	
						</form>
					</div>
		        </div>
		   	</div>
		</div>
		<script type="text/javascript">
			
			function mydues() {
        		document.getElementById('dues').style.display = "block";
        		document.getElementById('payments').style.display = "none";
        		document.getElementById('editpassword').style.display = "none";
        		document.getElementById('members').style.display = "none";
        		document.getElementById('neighbours').style.display = "none";
        		document.getElementById('addmember').style.display = "none";
        		document.getElementById('memcoloumn').style.display = "none";
        		document.getElementById('functioncoloumn').style.display = "block";
    		}

    		function mypayments() {
        		document.getElementById('dues').style.display = "none";
        		document.getElementById('payments').style.display = "block";
        		document.getElementById('editpassword').style.display = "none";
        		document.getElementById('members').style.display = "none";
        		document.getElementById('neighbours').style.display = "none";
        		document.getElementById('addmember').style.display = "none";
        		document.getElementById('memcoloumn').style.display = "none";
        		document.getElementById('functioncoloumn').style.display = "block";
    		}

    		function myneighbours() {
        		document.getElementById('dues').style.display = "none";
        		document.getElementById('payments').style.display = "none";
        		document.getElementById('editpassword').style.display = "none";
        		document.getElementById('members').style.display = "none";
        		document.getElementById('neighbours').style.display = "block";
        		document.getElementById('addmember').style.display = "none";
        		document.getElementById('memcoloumn').style.display = "none";
        		document.getElementById('functioncoloumn').style.display = "block";
    		}

    		function editpassword() {
        		document.getElementById('dues').style.display = "none";
        		document.getElementById('payments').style.display = "none";
        		document.getElementById('editpassword').style.display = "block";
        		document.getElementById('members').style.display = "none";
        		document.getElementById('neighbours').style.display = "none";
        		document.getElementById('addmember').style.display = "none";
        		document.getElementById('memcoloumn').style.display = "none";
        		document.getElementById('functioncoloumn').style.display = "block";
    		}

    		function addmember() {
        		document.getElementById('dues').style.display = "none";
        		document.getElementById('payments').style.display = "none";
        		document.getElementById('editpassword').style.display = "none";
        		document.getElementById('members').style.display = "none";
        		document.getElementById('neighbours').style.display = "none";
        		document.getElementById('addmember').style.display = "block";
        		document.getElementById('memcoloumn').style.display = "block";
        		document.getElementById('functioncoloumn').style.display = "none";
    		}
		</script>
	</body>
</html>